/* Fonts */
@font-face {
  font-family: BarlowBold;
  src: url('Barlow/Barlow-Bold.ttf');
}
@font-face {
  font-family: BarlowRegular;
  src: url('Barlow/Barlow-Regular.ttf');
}
@font-face {
  font-family: BarlowSemibold;
  src: url('Barlow/Barlow-SemiBold.ttf');
}
@font-face {
  font-family: BarlowMediumItalic;
  src: url('Barlow/Barlow-MediumItalic.ttf');
}
@font-face {
  font-family: BarlowMedium;
  src: url('Barlow/Barlow-Medium.ttf');
}

/* Fonts end*/

/* Universal */

body {
    background-color: #FCD116;
}

h1, th{
  font-family: BarlowBold, helvetica, sans-serif;
}
h2{
  font-family: BarlowBold, helvetica, sans-serif;
  font-size: 22px;
}
p, td{
  font-family: BarlowRegular, helvetica, sans-serif;
}

/* Navigation */

.logo {
  float: left;
  display: inline-block;
  width: 212px;
}

#navcontainer {
  width: 100%;
  padding-bottom: 10%;
  position: static;
}

nav{
  width: 100%;
  height: 50px;
  color: black;
  font-family: BarlowBold, helvetica, sans-serif;
  font-size: 1.5em;
}

nav ul{
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
}

nav ul li a{
  color: black;
  text-decoration: none;
  padding: 30px;
}

nav ul li a:hover{
  font-style: italic;
}

.active {
  text-decoration: underline;
}

/*End navigation*/

/* this section is for homepage.html */

#homepage {
  margin-left: -10%;
  margin-right: -10%;
  margin-bottom: -3%;
}

#homepage p {
  font-family: BarlowSemibold;
  font-size: 1.2em;
  margin-left: 10%;
}

#OrderNow {
padding: 0;
border: none;
background: none;
height: 106px;
width: 206px;
float: right;
position: relative;
margin-right: 20%;
margin-top: 20%;
}

#asphaltandres {
  margin-top: -30%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#vei {

  margin-top: -10%;
  width: 100%;
  
  
}

#andreshome {
  grid-row-start: 1;
  grid-column-start: 1;
  max-width: 100%;
  width: 40%;
  margin-left: 15%;
}
/* homepage ends */

/* this section is for menu.html */
.menu-title{
  position: absolute;
  top: 140px;
  margin-left: 80px;
  font-size: 32px;
}
.allergies-info{
  font-family: BarlowSemibold;
  font-size: 18px;
  width: 400px;
  position: absolute;
  top: 156px;
  margin-left: 175px;
}
.menu-group{
  display: grid;
  grid-template-columns:repeat(1fr);
  width: 900px;
  column-gap: 17px;
  row-gap: 17px;
  margin-left: 25px;
  position: absolute;
  top: 216px;
}
.menu-item{
  background-color: #FADD44;
  padding-left: 19px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
  height: 154px;
  width: 468px;
  cursor: pointer;
}

.menu-item h2{
  margin: 0;
}
.allergies{
  margin: 0;
  color: #0000007a;
}

.menu-text{
  width: 291px;
  margin: 0;
  font-family: BarlowMediumItalic;
  font-size: 14px;
  color: #000000b6;
  margin-top: 10px;
}
.pris{
  font-family: BarlowSemibold;
  font-size: 24px;
  margin: 0;
  margin-top: 11px;
}
.menu-bilde{
  width: 125px;
  height: 125px;
  float: right;
  position: relative;
  bottom: 136px;
  right: 10px;
  border-radius: 9px;
}

/* Section for shopping cart */
.your-order-container{
  background-color: #FCD116;
  width: 364px;
  position: absolute;
  right: 0px;
  top: 180px;
  border-radius: 80px 0px 0px 80px;
  height: 600px;
  box-shadow: -7px 0px 4px -3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.your-order-headline{
  font-family: BarlowMedium;
  color: #000000bd;
  margin-top: 45px;
  padding-left: 1px;
  position: relative;
  left: 30px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.151);
  width: 280px;
  margin-left: 25px;
}
.checkout-button{
  color: white;
  position: absolute;
  font-size: 24px;
  bottom: 60px;
  left: 50px;
  background-color: #4B5F24;
  width: 280px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 3px 3px rgba(255, 255, 255, 0.25);
  text-align: center;
}
.your-order-item{
  position: relative;
  top: 15px;
  left: 55px;
  margin-top: 20px;
  font-family: BarlowMedium;
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.pluss-minus{
  margin: 0 10px;
  font-size: 16px;
  font-family: BarlowMedium;
  background-color: rgba(255, 255, 255, 0.281);
  width: 30px;
  height: 20px;
  text-align: center;
  position: relative;
  right: 10px;
}
button{
  color: white;
  background-color: #4B5F24;
  width: 20px;
  height: 20px;
  outline: none;
  border-style: none;
  font-family: BarlowMedium;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover{
  background-color: #668034;
}
.minus{
  border-radius: 7px 0px 0px 7px;
}
.plus{
  border-radius: 0px 7px 7px 0px;
  position: absolute;
  left: 47px;
}

/* Shopping cart ends*/

/* overlay menu*/

.overlay {
  height: 80%;
  width: 45%;
  max-width: 600px;

  position: fixed;
  /* padding: 10px; */
  z-index: 10;
  top: 10%;
  bottom: 30%;
  left: 10%;
  background:#FADD44;
  /* border: rgba(161, 94, 94, 0.1) 10px; */
  /* border-style: solid; */
  /* background-color: rgba(0,0,0,0,5); */
  /* box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.18); */
  box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
  border-radius: 40px;
  animation: ease-in;
  animation-duration: 1s;
  display: none;
  

}

.overlayBilde {
  width: 100%;
  height: 260px;
  /* margin-left: 10px;
  margin-top: 10px; */
  margin-bottom: 0px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.dish {
  font-family: BarlowBold;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 10px;
}

.allergiesOverlay {
  position: absolute;
  font-size: 25px;
  color: #0000007a;
  top: 290px;
  right: 200px;
  margin: 0;
}

.priceOverlay {
  position: absolute;
  top: 235px;
  right: 100px;
  font-size: 40px;
  font-family: BarlowMediumItalic;
}

.infoOverlay {
  font-family: BarlowMediumItalic;
  width: auto;
  position: absolute;
  margin: 0;
  top: 340px;
  left: 100px;
  right: 100px;

}

.extraTopping {
  font-family: BarlowBold;
  font-size: 20px;
  position: absolute;
  top: 400px;
  left: 100px;
}

.choices{
  font-family: BarlowMedium;
  font-size: 20px;
  position: absolute;
  margin: 0;
  bottom: 100px;
  left: 55px;
  list-style-type: none;
}

.choices li{
  margin-top: 2px;
}

.choices input{
  margin-right: 30px;
}


.choicesPrice li{
  margin-top: 2px;
  text-align: right;
}

.choicesPrice{
  font-family: BarlowMedium;
  font-size: 20px;
  position: absolute;
  margin: 0;
  bottom: 100px;
  right: 100px;
  list-style-type: none;
}


.orderCounter{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 100px;
  font-family: BarlowBold;
  font-size: 20px;
}

.minusOverlay{
  font-family: BarlowBold;
  text-align: center;
  height: 30px;
  width: 35px;
  font-size: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #4B5F24;
  color: #FFF;
  border: none;
}

.plussOverlay{
  font-family: BarlowBold;
  text-align: center;
  height: 30px;
  width: 35px;
  font-size: 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #4B5F24;
  color: #FFF;
  border: none;
}

.tellerOverlay{
  width: 30px;
  height: 24px;
  text-align: center;
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}

.addToCart{
  position: absolute;
  bottom: 30px;
  right: 100px;
  font-family: BarlowMedium;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #4B5F24;
  padding-top: 0px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border-style: none;

}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 60px;
  color: rgb(255, 255, 255);
}

/* overlay menu ends*/
/* menu ends */



/* This section is for payment.html */

#payment-form {
margin: 10px;
}

.payment-name {
  font-size: 1.5em;
  height: 75px;
}

.payment-name input {
  width: 20%;
  height: 30px;
}

.payment-option-choice {
  background-color: white;
  width: 20%;
  margin-bottom: 10px;
  height: 30px;
  border-style: solid;
  border-width: thin;
}

#submitbtn {
  width: 110px;
  height: 75px;
  font-size: 1.5em;
}

/* payment end */

/* This section is for confirmation.html */

#logoConf {
  width: 150px;
}

#structure {
  position: relative;
  display: grid;
  grid-template-columns:auto(1fr);
  padding: 5px;
  width: 600px;
  height: 100%;
  width: 600px;
}

#yourOrder {
  position: relative;
  grid-column: auto;
  left: 10%;
  top: 10%;
  background-color: #c4c4c4;
  width: 400px;
  height: 330px;
}

#orderNumber {
  position: relative;
  grid-column: auto;
  left: 90%;
  top: -30%;
  background-color: #c4c4c4;
  width: 250px;
  height: 200px;
}

#orderPickUp{
  position: relative;
  right: 5%;
  top: -25%;
  background-color: #c4c4c4;
  width: 500px;
  height: 400px;
}


#timeLeft {
  position: relative;
  top: -60%;
  left: 5%;
  background-color:#c4c4c4;
  height: 150px;
  width: 400px;
  
}



/* confirmation end */


/* this section is for about.html */

.about {
display: flex;
max-width: 100%;
margin-top: 5%;
margin-bottom: -70%;
}

#aboutpic {
float: left;
 margin-top: -5%;
 margin-left: 1%;
 margin-right: 3%;
 position: static;
}

#abouttext {
  float: right;
  max-width: 45%;
  min-width: 45%;
  margin-right: 200px;
  position: static;
}

#abouttext p{
  font-family: BarlowMedium;
  font-size: 1.3em;
}

/* about ends */


/* This section is for location.html */
#location-container {
  display: grid;
  grid-template-columns: 48% 48%;
}

 .maps {
   grid-column-start: 1;
   grid-column-end: 2;
 }

 iframe {
   width: 600px;
   height: 300px;
   border-width: 2.5px;
 }

 .schedule-container {
   width: 100%;
   margin-left: 10%;
   border-left-style: solid;
   border-width: thin;
   padding: 12px;
 }

.location-schedule {
  text-align: left;
  width: 100%;
  grid-column-start: 2;
}

.location-schedule th {
  font-size: 22px;
}

.location-schedule td {
  font-size: 20px;
}

/* location end */

@media only screen and (max-width: 772px) {
  nav ul{

    margin-right: 100px;
    margin-top: 30px;
    margin-left: -30px;
    position: absolute;
    display: inline-block;
  }

}

/* Responsive design below*/

/* Menu Start*/
@media only screen and (min-width: 1045px) {
  .menu-group {
    grid-template-columns:repeat(2,1fr);
  }
}

@media only screen and (max-width: 1045px) {
  .overlay {
    position: fixed;
    height: 80%;
    top: 10%;
    max-width: 400px;
    min-width: 400px;
    left: 10%;
    right: 10%;
  }
  
  .overlayBilde{
    height: 200px;
  }

  .dish {
    font-family: BarlowBold;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .allergiesOverlay {
    position: absolute;
    font-size: 16px;
    color: #0000007a;
    top: 225px;
    right: 31%;
    margin: 0;
  }
  
  .priceOverlay {
    position: absolute;
    top: 183px;
    right: 10%;
    font-size: 30px;
    font-family: BarlowMediumItalic;
  }
  
  .infoOverlay {
    font-family: BarlowMediumItalic;
    width: auto;
    position: absolute;
    margin: 0;
    top: 270px;
    left: 10%;
    right: 10%;
  
  }
  
  .extraTopping {
    font-family: BarlowBold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
  }
  
  .choices{
    font-family: BarlowMedium;
    font-size: 20px;
    position: absolute;
    margin: 0;
    top:60%;
    left: -2%;
    list-style-type: none;
  }
  
  .choices li{
    margin-top: 2px;
  }
  
  .choices input{
    margin-right: 20px;
  }
  
  
  .choicesPrice li{
    margin-top: 2px;
    text-align: right;
  }
  
  .choicesPrice{
    font-family: BarlowMedium;
    font-size: 20px;
    position: absolute;
    margin: 0;
    bottom: 120px;
    right: 10%;
    list-style-type: none;
  }
  
  
  .orderCounter{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 10%;
    font-family: BarlowBold;
    font-size: 20px;
  }
  
  
  
  .addToCart{
    position: absolute;
    bottom: 40px;
    right: 10%;
    font-family: BarlowMedium;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #4B5F24;
    padding-top: 0px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
  
  }
}
/* Menu end*/
