body {
    background-color: #fcd116;
}

nav{
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: black;
}

nav ul li:hover{
  color:white;
}

nav ul{
  float: right;
  margin-right: 100px;
  margin-top: 50px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

nav ul li a{
  text-decoration: none;
  color: black;
  padding: 30px;
}



/* this section is for homepage.html */



/* homepage ends */

/* this section is for menu.html */

/* menu ends */

/* This section is for payment.html */

#payment-form {
margin: 10px;
}

.payment-name {
  font-size: 1.5em;
  height: 75px;
}

.payment-name input {
  width: 20%;
  height: 30px;
}

.payment-option {

}

.payment-option-choice {
  background-color: white;
  width: 20%;
  margin-bottom: 10px;
  height: 30px;
  border-style: solid;
  border-width: thin;
}

#submitbtn {
  width: 110px;
  height: 75px;
  font-size: 1.5em;
}

/* payment end */

/* This section is for confirmation.html */

/* confirmation end */

/* this section is for about.html */

/* about ends */

/* This section is for location.html */

/* location end */
